<div class="container">
  <div class="my-2">
    <app-add-user></app-add-user>
  </div>
  <div class="my-2">
    <input type="text" class="form-control mb-2" placeholder="Search Users" [(ngModel)]="searchTerm">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <ng-container *ngFor="let header of headerList">
          <th>{{ header }}</th>
        </ng-container>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.enable }}</td>
        <td>
          <button class="btn btn-sm btn-primary mr-2" (click)="activateUser(user.id)">Activate</button>
          <button class="btn btn-sm btn-danger" (click)="deactivateUser(user.id)">Deactivate</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
