<div class="container">
  <div class="my-2">
    <input type="text" class="form-control mb-3" placeholder="Search Stock" (input)="searchStocks($event)">
  </div>
  <div class="my-2">
    <app-add-stock></app-add-stock>
  </div>
  <div class="my-2">
    <app-view-table [headList]="headerList" [rowsList]="filteredStocks" [editable]="true" [deleteable]="true" [consumable]="true" (onEdit)="editStock($event)" (onDelete)="deleteStock($event)" (onConsum)="getStockConsumptionHistories($event)"></app-view-table>
  </div>
</div>
