<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th *ngFor="let head of headList">{{ head }}</th>
      <th *ngIf="active">Active</th>
      <th *ngIf="consumable">View Consumption</th>
      <th *ngIf="editable">EDIT</th>
      <th *ngIf="deleteable">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowsList">
      <td *ngFor="let head of headList">
        <div *ngIf="head == 'createdAt'">
          {{ row[head] | date:'short' }}
        </div>
        <div *ngIf="head != 'createdAt'">
          {{ row[head] }}
        </div>
      </td>
      <td *ngIf="active">
        <button class="col-auto btn btn-success" (click)="isActive(row)">Active</button>
      </td>
      <td *ngIf="consumable">
        <button class="col-auto btn btn-success" (click)="viewConsumption(row)">Consumption History</button>
      </td>
      <td *ngIf="editable">
        <button class="col-auto btn btn-success" (click)="editRow(row)">Edit</button>
      </td>
      <td *ngIf="deleteable">
        <button class="col-auto btn btn-danger" (click)="deleteRow(row)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
