<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="side-menu col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-start align-items-sm-start pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Dashboard</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="users" class="nav-link align-middle">
                            <i class="px-2 fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="store" class="nav-link align-middle">
                            <i class="px-2 fs-4 bi-shop"></i> <span class="ms-1 d-none d-sm-inline">Store</span></a>
                    </li>
                    <li>
                        <a routerLink="stock" class="nav-link align-middle">
                            <i class="px-2 fs-4 bi-box"></i> <span class="ms-1 d-none d-sm-inline">Stock</span> </a>
                    </li>
                    <li>
                      <a routerLink="products"  class="nav-link align-middle">
                          <i class="px-2 fs-4 bi-boxes"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                  </li>
                  <li>
                    <a routerLink="coupon" class="nav-link align-middle">
                        <i class="px-2 fs-4 bi-ticket-detailed"></i> <span class="ms-1 d-none d-sm-inline">Coupon</span> </a>
                </li>
                </ul>
            </div>
        </div>
        <div class="col-auto col-md-3 col-xl-10 px-sm-2 px-0">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
