<div class="container">
  <div class="my-2">
    <app-add-store></app-add-store>
  </div>
  <div class="my-2">
    <!-- <input type="text" class="form-control mb-2" placeholder="Search Stores" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()"> -->
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <ng-container *ngFor="let header of headerList">
          <th>{{ header }}</th>
        </ng-container>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let store of filteredStores">
        <td>{{ store.id }}</td>
        <td>{{ store.name }}</td>
        <td>{{ store.address }}</td>
        <td>
          <button class="btn btn-sm btn-primary mr-2" (click)="editStore(store.id)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteStore(store.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
